<!--<h1>Topica AI-based attendance system</h1>-->
<h1>AI-based attendance system</h1>
<div>
  <%= link_to "Setup device", new_authorized_client_path %> | <%= link_to "Attendance", new_attendance_path %>
</div>

